.btn-grey {
background-color: #5c5c5c;
padding: 10px 20px;
border-radius: 20px;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
transition: background-color 0.3s ease;
color: white;
text-decoration: none;
}

.btn-grey:hover {
background-color: #9c9c9c;
}